<%= form_for(track) do |f| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="cont_tabs_login">
      <ul class='ul_tabs'>
        <li class="active"><a href="#" onclick="sign_in()">CREAR TRACK</a>
        <span class="linea_bajo_nom"></span>
        </li>
        <li>
          <%=link_to "VER TODOS",  tracks_path%><span class="linea_bajo_nom"></span>
        </li>
      </ul>
      </div>
  <div class="cont_text_inputs">

    <%= f.text_field :name, autofocus: true, class: 'input_form_sign d_block active_inp', placeholder:"NOMBRE*" %>
    <%= f.text_field :description, autofocus: true, class: 'input_form_sign d_block active_inp', placeholder:"DESCRIPCION" %>
    <%= f.text_field :tags, autofocus: true, class: 'input_form_sign d_block active_inp', placeholder:"TAGS" %>



    </div>
    <div class="cont_btn">
     <button class="btn_sign">Crear</button>

      </div>

    <%end%>