<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <td><%= pixel.ip_address %></td>
</p>

<p>
  <strong>Description:</strong>
  <td><%= pixel.track.name %></td>
</p>

<p>
  <strong>Tags:</strong>
  <td><%= pixel.city %></td>
</p>

<p>
  <strong>Tracks:</strong>
<td><%= pixel.state %></td>
</p>

<%= link_to 'Back', pixels_path %>
