<div class="cont_principal">

  <div class="cont_centrar">
  <div class="cont_login">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
    <div class="cont_tabs_login">
      <ul class='ul_tabs'>
        <li class="active"><a href="#" onclick="sign_in()">INGRESAR</a>
        <span class="linea_bajo_nom"></span>
        </li>
        <li>
          <%=link_to "REGISTRARME", new_user_registration_path%><span class="linea_bajo_nom"></span>
        </li>
      </ul>
      </div>
  <div class="cont_text_inputs">

    <%= f.email_field :email, autofocus: true, class: 'input_form_sign d_block active_inp', placeholder:"EMAIL" %>

    <%= f.password_field :password, autocomplete: 'off', class: 'input_form_sign d_block  active_inp', placeholder:"CONTRASEÑA" %>


    <%= render 'devise/shared/links' %>

<!-- <div class="terms_and_cons ">
  <% if devise_mapping.rememberable? %>
    <div class="checkbox">
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Remember me') %>
      <% end %>
    </div>
  <% end %> -->

    </div>
      </div>
<div class="cont_btn">
     <button class="btn_sign">ACCEDER</button>

      </div>

    <%end%>
    </div>

  </div>


</div>
